<div class="col col-lg-4 col-md-7 col-9 mx-auto">
  <div class="card card-dark">
    <div class="card-header">
      <h3>
        {{'components.spaceshipForm.title.' + (isUpdate ? 'edit' : 'create') | translate}}
      </h3>
    </div>
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" [formGroup]="isUpdate ? formUpdate : formCreate">
        <div class="mb-3">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>{{'models.spaceship.name' | translate}}</mat-label>
            <input formControlName="name" matInput>
          </mat-form-field>
        </div>
        <div class="mb-3">
          <mat-slide-toggle
            formControlName="commission">{{'models.spaceship.commission' | translate}}</mat-slide-toggle>
        </div>

        <div *ngIf="isUpdate">
          <div class="mb-3 row">
            <div class="col col-8">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>{{'models.spaceship.core' | translate}}</mat-label>
                <mat-select formControlName="core">
                  <mat-option *ngFor="let core of cores" [value]="core.id">{{core.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col col-4">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>{{'models.spaceshipCore.aiVersion' | translate}}</mat-label>
                <input formControlName="coreAiVersion" matInput>
              </mat-form-field>
            </div>
          </div>
          <div class="mb-3 row">
            <div class="col col-8">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>{{'models.spaceship.engine' | translate}}</mat-label>
                <mat-select formControlName="engine">
                  <mat-option *ngFor="let engine of engines" [value]="engine.id">{{engine.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col col-4">
              <mat-form-field appearance="fill">
                <mat-label>{{'models.spaceshipEngine.lastRevision' | translate}}</mat-label>
                <input [matDatepicker]="picker1" formControlName="engineLastRevision" matInput>
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle [for]="picker1" matIconSuffix></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="mb-3 row">
            <div class="col col-8">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>{{'models.spaceship.lifeSupportUnit' | translate}}</mat-label>
                <mat-select formControlName="lifeSupportUnit">
                  <mat-option *ngFor="let lifeSupportUnit of lifeSupportUnits"
                              [value]="lifeSupportUnit.id">{{lifeSupportUnit.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col col-4">
              <mat-form-field appearance="fill">
                <mat-label>{{'models.spaceshipLifeSupportUnit.lastMaintenance' | translate}}</mat-label>
                <input [matDatepicker]="picker2" formControlName="lifeSupportUnitLastMaintenance" matInput>
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle [for]="picker2" matIconSuffix></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="text-center">
          <button [disabled]="isUpdate ? formUpdate.invalid : formCreate.invalid" class="btn btn-primary"
                  type="submit">
            {{'tags.button.' + (isUpdate ? 'update' : 'create') | translate}}
          </button>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="isUpdate" class="card card-dark rounded mt-3 w-50 mx-auto">
    <div class="card-body rounded text-center">
      <div class="d-grid gap-2 mx-auto my-2">
        <button class="btn btn-info" routerLink="/spaceship/{{id}}/clearances">Manage Clearances</button>
        <button class="btn btn-info" routerLink="/spaceship/{{id}}/positions">Manage Positions</button>
        <button class="btn btn-info" routerLink="/spaceship/{{id}}/crew">Manage Crew</button>
      </div>
    </div>
  </div>
</div>
